body {
  background-color: rgb(244, 236, 226);
  padding: 1.5em;
  font-family: sans-serif;
}

header img {
  border-radius: 5em;
}

h1 {
  color: rgb(180, 88, 22);
}

h3,
h1 {
  text-align: center;
}

.recipe-list-section {
  height: 100vh;
}

.recipe-list-section ul {
  text-align: center;
}

.recipe-list-section li {
  text-align: center;
  display: inline-block;
  margin: 30px;
}

.recipes-cover {
  width: 30em;
  height: 10em;
  border-radius: 2em;
  @media (min-width: 690px) {
    width: 15em;
    height: auto;
  }
}

/* @media (max-width: 599px) {
  .recipes-cover {
    height: auto;
    width: 15em;
    height: auto;
    border-radius: 2em;
  }
} */

a {
  color: darkgreen;
  font-size: 20px;
}

/* Recipes Styles */
header p {
  text-align: center;
  width: 90%;
  margin: auto;
  padding: 1em;
}

button {
  padding: 1em;
  border-radius: 1em;
  background-color: forestgreen;
  color: white;
  font-weight: bold;
}

footer {
  text-align: center;
}
